<div class="col-md-6">
  <div class="top-header"><%= @room.title %></div>
  <div class="content">
    <div class="task-form">
      <%= form_for :task, url: room_tasks_path do |f| %>
          <p>
            <%= f.label :title %><br/>
            <%= f.text_field :title, class: "form-control", style: "width: 70%;" %>
          </p>
          <p>
            <%= f.label :description %><br/>
            <%= f.text_area :description, class: "form-control", style: "width: 70%; height: 80px" %>
          </p>
          <p>
            <%= f.label :date %><br/>
            <%= f.datetime_local_field :date, class: "form-control", style: "width: 70%;" %>
          </p>
          <p>
            <%= f.submit class: "btn btn-danger"  %>
          </p>
      <% end %>
    </div>
    <div class="all-tasks">
      <% @tasks.each do |task| %>
        <h3><%= User.find(task.creator_id).username %></h3>
        <p><%= task.title %></p>
        <p><%= task.description %></p>
        <p><b>Выполнить до: <%= task.date %></b></p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-3">
  <%= render 'rooms/options' %>
</div>
