<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title, class: "form-control", style: "width: 30%;" %>
</p>
<p>
  <%= f.label :description %><br/>
  <%= f.text_area :description, class: "form-control", style: "width: 30%; height: 80px" %>
</p>
<p>
  <%= f.submit class: "btn btn-info"  %>
</p>
