<h2><%= @chat.title %></h2>
<p><%= @chat.description %></p>
<p>User: <%= @user.email %></p>
<% if user_signed_in? && @chat.user_creator_id == current_user.id %>
    <p>
      <%= link_to 'Delete', chat_path(@chat), method: :delete, data: {confirm: 'Are You Sure?'} %>
      <%= link_to 'Edit', edit_chat_path(@chat) %>
    </p>
<% end %>

<h2>Messages:</h2>
<% @chat.messages.each do |message| %>
    <p><%= message.text %></p>
    <p><%= User.find(message.user_id).email %></p>
<% end %>

<h2>New message:</h2>
<%= form_for [@chat, @chat.messages.build] do |f| %>
    <p>
      <%= f.label :text %><br/>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>