<div class="col-md-6">
  <div class="top-header"><%= @room.title %></div>
  <div class="content">
    <div class="messages">
      <h2>Messages:</h2>
      <% @chat.messages.each do |message| %>
        <div <%= 'align=right' if current_user.id == message.user_id %>>
          <div class="message-body <%= "current-user" if current_user.id == message.user_id %>">
            <p class="attr"><b><%= User.find(message.user_id).email %></b></p>
            <p><%= message.text %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="message-form">
      <%= form_for @chat.messages.new, url: chats_messages_path do |f| %>
        <p>
          <%= f.text_area :text, class: "form-control", style: "width: 80%; height: 80px" %>
        </p>
        <p>
          <%= f.submit 'Send Message', class: "btn btn-danger" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-3">

</div>