<div class="col-md-6">
  <div class="top-header"><%= @room.title %></div>
  <div class="content">
    <div class="messages">
      <h2>Messages:</h2>
      <div id="messages" data-chat-id="<%= @chat.id %>">
        <%= render @chat.messages %>
      </div>
    </div>

    <div class="message-form">
      <%= form_for @message, url: '#' do |f| %>
        <%= hidden_field_tag 'chat_id', @chat.id %>
        <p>
          <%= f.text_area :text, class: "form-control", style: "width: 80%; height: 80px" %>
        </p>
        <p>
          <%= f.submit 'Send Message', class: "btn btn-danger" %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-3">
  <%= render 'rooms/options' %>
</div>