<div class="col-md-6">
  <div class="row top-header">Room</div>
  <div class="content">
    <h2><%= @room.title %></h2>
    <p><%= @room.description %></p>
    <b><p>User: <%= @user.email %></p></b>
    <% if user_signed_in? && @room.creator_id == current_user.id %>
      <p>
        <%= link_to 'Delete', room_path(@room), method: :delete, data: {confirm: 'Are You Sure?'} %>
        <%= link_to 'Edit', edit_room_path(@room) %>
      </p>
    <% end %>
  </div>
</div>

<div class="col-md-3">
  <%= render 'options' %>
</div>